/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.betatel.esim.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.betatel.esim.models.ESIM
import com.betatel.esim.models.Error
import com.betatel.esim.models.GetESIMsResponse
import com.betatel.esim.models.GetInventoriesResponse

import com.squareup.moshi.Json

import com.betatel.esim.infrastructure.ApiClient
import com.betatel.esim.infrastructure.ApiResponse
import com.betatel.esim.infrastructure.ClientException
import com.betatel.esim.infrastructure.ClientError
import com.betatel.esim.infrastructure.ServerException
import com.betatel.esim.infrastructure.ServerError
import com.betatel.esim.infrastructure.MultiValueMap
import com.betatel.esim.infrastructure.PartConfig
import com.betatel.esim.infrastructure.RequestConfig
import com.betatel.esim.infrastructure.RequestMethod
import com.betatel.esim.infrastructure.ResponseType
import com.betatel.esim.infrastructure.Success
import com.betatel.esim.infrastructure.toMultiValue

class InventoryApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://esim.betatel.com/api/v1/esim")
        }
    }

    /**
     * GET /sim-registries/{iccid}
     * Get eSIM by ICCID
     * Validates and returns detailed eSIM information for a specific ICCID
     * @param iccid The ICCID of the eSIM (19-20 digits)
     * @return ESIM
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getESIM(iccid: kotlin.String) : ESIM {
        val localVarResponse = getESIMWithHttpInfo(iccid = iccid)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ESIM
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /sim-registries/{iccid}
     * Get eSIM by ICCID
     * Validates and returns detailed eSIM information for a specific ICCID
     * @param iccid The ICCID of the eSIM (19-20 digits)
     * @return ApiResponse<ESIM?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getESIMWithHttpInfo(iccid: kotlin.String) : ApiResponse<ESIM?> {
        val localVariableConfig = getESIMRequestConfig(iccid = iccid)

        return request<Unit, ESIM>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getESIM
     *
     * @param iccid The ICCID of the eSIM (19-20 digits)
     * @return RequestConfig
     */
    fun getESIMRequestConfig(iccid: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/sim-registries/{iccid}".replace("{"+"iccid"+"}", encodeURIComponent(iccid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /sim-registries
     * Get list of eSIMs
     * Returns a paginated list of all eSIMs with optional filtering by company and inventory
     * @param count Number of items to return (optional, default to 100)
     * @param offset Number of items to skip (optional, default to 0)
     * @param group Filter by group ID (optional) (optional)
     * @param inventory Filter by inventory ID (optional) (optional)
     * @return GetESIMsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getESIMs(count: kotlin.Int? = 100, offset: kotlin.Int? = 0, group: kotlin.Int? = null, inventory: kotlin.Int? = null) : GetESIMsResponse {
        val localVarResponse = getESIMsWithHttpInfo(count = count, offset = offset, group = group, inventory = inventory)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetESIMsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /sim-registries
     * Get list of eSIMs
     * Returns a paginated list of all eSIMs with optional filtering by company and inventory
     * @param count Number of items to return (optional, default to 100)
     * @param offset Number of items to skip (optional, default to 0)
     * @param group Filter by group ID (optional) (optional)
     * @param inventory Filter by inventory ID (optional) (optional)
     * @return ApiResponse<GetESIMsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getESIMsWithHttpInfo(count: kotlin.Int?, offset: kotlin.Int?, group: kotlin.Int?, inventory: kotlin.Int?) : ApiResponse<GetESIMsResponse?> {
        val localVariableConfig = getESIMsRequestConfig(count = count, offset = offset, group = group, inventory = inventory)

        return request<Unit, GetESIMsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getESIMs
     *
     * @param count Number of items to return (optional, default to 100)
     * @param offset Number of items to skip (optional, default to 0)
     * @param group Filter by group ID (optional) (optional)
     * @param inventory Filter by inventory ID (optional) (optional)
     * @return RequestConfig
     */
    fun getESIMsRequestConfig(count: kotlin.Int?, offset: kotlin.Int?, group: kotlin.Int?, inventory: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (count != null) {
                    put("count", listOf(count.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
                if (group != null) {
                    put("group", listOf(group.toString()))
                }
                if (inventory != null) {
                    put("inventory", listOf(inventory.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/sim-registries",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /inventories
     * Get list of inventories
     * Returns a paginated list of all inventories with optional company filtering
     * @param count Number of items to return (optional, default to 100)
     * @param offset Number of items to skip (optional, default to 0)
     * @param company Filter by company ID (optional) (optional)
     * @return GetInventoriesResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getInventories(count: kotlin.Int? = 100, offset: kotlin.Int? = 0, company: kotlin.Int? = null) : GetInventoriesResponse {
        val localVarResponse = getInventoriesWithHttpInfo(count = count, offset = offset, company = company)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetInventoriesResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /inventories
     * Get list of inventories
     * Returns a paginated list of all inventories with optional company filtering
     * @param count Number of items to return (optional, default to 100)
     * @param offset Number of items to skip (optional, default to 0)
     * @param company Filter by company ID (optional) (optional)
     * @return ApiResponse<GetInventoriesResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getInventoriesWithHttpInfo(count: kotlin.Int?, offset: kotlin.Int?, company: kotlin.Int?) : ApiResponse<GetInventoriesResponse?> {
        val localVariableConfig = getInventoriesRequestConfig(count = count, offset = offset, company = company)

        return request<Unit, GetInventoriesResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getInventories
     *
     * @param count Number of items to return (optional, default to 100)
     * @param offset Number of items to skip (optional, default to 0)
     * @param company Filter by company ID (optional) (optional)
     * @return RequestConfig
     */
    fun getInventoriesRequestConfig(count: kotlin.Int?, offset: kotlin.Int?, company: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (count != null) {
                    put("count", listOf(count.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
                if (company != null) {
                    put("company", listOf(company.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/inventories",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
