/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.betatel.esim.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.betatel.esim.models.CreatePackageRequest
import com.betatel.esim.models.CreatePackageResponse
import com.betatel.esim.models.Error
import com.betatel.esim.models.GetPackagesResponse
import com.betatel.esim.models.Package

import com.squareup.moshi.Json

import com.betatel.esim.infrastructure.ApiClient
import com.betatel.esim.infrastructure.ApiResponse
import com.betatel.esim.infrastructure.ClientException
import com.betatel.esim.infrastructure.ClientError
import com.betatel.esim.infrastructure.ServerException
import com.betatel.esim.infrastructure.ServerError
import com.betatel.esim.infrastructure.MultiValueMap
import com.betatel.esim.infrastructure.PartConfig
import com.betatel.esim.infrastructure.RequestConfig
import com.betatel.esim.infrastructure.RequestMethod
import com.betatel.esim.infrastructure.ResponseType
import com.betatel.esim.infrastructure.Success
import com.betatel.esim.infrastructure.toMultiValue

class PackagesApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://esim.betatel.com/api/v1/esim")
        }
    }

    /**
     * POST /packages/{id}/activate
     * Activate a package
     * Activates a specific package for use
     * @param id Package ID to activate
     * @return kotlin.Boolean
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun activatePackage(id: kotlin.String) : kotlin.Boolean {
        val localVarResponse = activatePackageWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Boolean
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /packages/{id}/activate
     * Activate a package
     * Activates a specific package for use
     * @param id Package ID to activate
     * @return ApiResponse<kotlin.Boolean?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun activatePackageWithHttpInfo(id: kotlin.String) : ApiResponse<kotlin.Boolean?> {
        val localVariableConfig = activatePackageRequestConfig(id = id)

        return request<Unit, kotlin.Boolean>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation activatePackage
     *
     * @param id Package ID to activate
     * @return RequestConfig
     */
    fun activatePackageRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/packages/{id}/activate".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /packages
     * Create a new package
     * Creates a new package for a specific SIM card
     * @param createPackageRequest 
     * @return CreatePackageResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createPackage(createPackageRequest: CreatePackageRequest) : CreatePackageResponse {
        val localVarResponse = createPackageWithHttpInfo(createPackageRequest = createPackageRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CreatePackageResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /packages
     * Create a new package
     * Creates a new package for a specific SIM card
     * @param createPackageRequest 
     * @return ApiResponse<CreatePackageResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createPackageWithHttpInfo(createPackageRequest: CreatePackageRequest) : ApiResponse<CreatePackageResponse?> {
        val localVariableConfig = createPackageRequestConfig(createPackageRequest = createPackageRequest)

        return request<CreatePackageRequest, CreatePackageResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createPackage
     *
     * @param createPackageRequest 
     * @return RequestConfig
     */
    fun createPackageRequestConfig(createPackageRequest: CreatePackageRequest) : RequestConfig<CreatePackageRequest> {
        val localVariableBody = createPackageRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/packages",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /packages/{id}
     * Get package by ID
     * Returns detailed information about a specific package
     * @param id Package ID
     * @return Package
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getPackage(id: kotlin.String) : Package {
        val localVarResponse = getPackageWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Package
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /packages/{id}
     * Get package by ID
     * Returns detailed information about a specific package
     * @param id Package ID
     * @return ApiResponse<Package?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getPackageWithHttpInfo(id: kotlin.String) : ApiResponse<Package?> {
        val localVariableConfig = getPackageRequestConfig(id = id)

        return request<Unit, Package>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getPackage
     *
     * @param id Package ID
     * @return RequestConfig
     */
    fun getPackageRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/packages/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter status
     */
     enum class StatusGetPackages(val value: kotlin.String) {
         @Json(name = "NOT_ACTIVE") NOT_ACTIVE("NOT_ACTIVE"),
         @Json(name = "ACTIVE") ACTIVE("ACTIVE"),
         @Json(name = "SUSPENDED") SUSPENDED("SUSPENDED"),
         @Json(name = "TERMINATED") TERMINATED("TERMINATED");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /packages
     * Get list of packages
     * Returns a paginated and filtered list of packages
     * @param count Number of items to return (optional)
     * @param offset Number of items to skip (optional)
     * @param inventory Filter by inventory ID (optional)
     * @param packageTemplate Filter by package template ID (optional)
     * @param sim Filter by SIM ICCID (optional)
     * @param status Filter by package status (optional)
     * @return GetPackagesResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getPackages(count: kotlin.Int? = null, offset: kotlin.Int? = null, inventory: kotlin.Int? = null, packageTemplate: kotlin.Int? = null, sim: kotlin.String? = null, status: StatusGetPackages? = null) : GetPackagesResponse {
        val localVarResponse = getPackagesWithHttpInfo(count = count, offset = offset, inventory = inventory, packageTemplate = packageTemplate, sim = sim, status = status)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetPackagesResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /packages
     * Get list of packages
     * Returns a paginated and filtered list of packages
     * @param count Number of items to return (optional)
     * @param offset Number of items to skip (optional)
     * @param inventory Filter by inventory ID (optional)
     * @param packageTemplate Filter by package template ID (optional)
     * @param sim Filter by SIM ICCID (optional)
     * @param status Filter by package status (optional)
     * @return ApiResponse<GetPackagesResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getPackagesWithHttpInfo(count: kotlin.Int?, offset: kotlin.Int?, inventory: kotlin.Int?, packageTemplate: kotlin.Int?, sim: kotlin.String?, status: StatusGetPackages?) : ApiResponse<GetPackagesResponse?> {
        val localVariableConfig = getPackagesRequestConfig(count = count, offset = offset, inventory = inventory, packageTemplate = packageTemplate, sim = sim, status = status)

        return request<Unit, GetPackagesResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getPackages
     *
     * @param count Number of items to return (optional)
     * @param offset Number of items to skip (optional)
     * @param inventory Filter by inventory ID (optional)
     * @param packageTemplate Filter by package template ID (optional)
     * @param sim Filter by SIM ICCID (optional)
     * @param status Filter by package status (optional)
     * @return RequestConfig
     */
    fun getPackagesRequestConfig(count: kotlin.Int?, offset: kotlin.Int?, inventory: kotlin.Int?, packageTemplate: kotlin.Int?, sim: kotlin.String?, status: StatusGetPackages?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (count != null) {
                    put("count", listOf(count.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
                if (inventory != null) {
                    put("inventory", listOf(inventory.toString()))
                }
                if (packageTemplate != null) {
                    put("package_template", listOf(packageTemplate.toString()))
                }
                if (sim != null) {
                    put("sim", listOf(sim.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/packages",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /packages/{id}/terminate
     * Terminate a package
     * Terminates an active package
     * @param id Package ID to terminate
     * @return kotlin.Boolean
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun terminatePackage(id: kotlin.String) : kotlin.Boolean {
        val localVarResponse = terminatePackageWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Boolean
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /packages/{id}/terminate
     * Terminate a package
     * Terminates an active package
     * @param id Package ID to terminate
     * @return ApiResponse<kotlin.Boolean?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun terminatePackageWithHttpInfo(id: kotlin.String) : ApiResponse<kotlin.Boolean?> {
        val localVariableConfig = terminatePackageRequestConfig(id = id)

        return request<Unit, kotlin.Boolean>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation terminatePackage
     *
     * @param id Package ID to terminate
     * @return RequestConfig
     */
    fun terminatePackageRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/packages/{id}/terminate".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
