/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.betatel.esim.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.betatel.esim.models.Error
import com.betatel.esim.models.GetPCRProfileResponse
import com.betatel.esim.models.ModifyPCRProfileRequest

import com.squareup.moshi.Json

import com.betatel.esim.infrastructure.ApiClient
import com.betatel.esim.infrastructure.ApiResponse
import com.betatel.esim.infrastructure.ClientException
import com.betatel.esim.infrastructure.ClientError
import com.betatel.esim.infrastructure.ServerException
import com.betatel.esim.infrastructure.ServerError
import com.betatel.esim.infrastructure.MultiValueMap
import com.betatel.esim.infrastructure.PartConfig
import com.betatel.esim.infrastructure.RequestConfig
import com.betatel.esim.infrastructure.RequestMethod
import com.betatel.esim.infrastructure.ResponseType
import com.betatel.esim.infrastructure.Success
import com.betatel.esim.infrastructure.toMultiValue

class PCRProfileApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://esim.betatel.com/api/v1/esim")
        }
    }

    /**
     * GET /sim-pcr-profiles/{iccid}
     * Get PCR profile for a SIM card
     * Returns the Policy and Charging Rules (PCR) profile configuration for a specific SIM card
     * @param iccid The ICCID of the SIM card (19-20 digits)
     * @return GetPCRProfileResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getPCRProfile(iccid: kotlin.String) : GetPCRProfileResponse {
        val localVarResponse = getPCRProfileWithHttpInfo(iccid = iccid)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetPCRProfileResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /sim-pcr-profiles/{iccid}
     * Get PCR profile for a SIM card
     * Returns the Policy and Charging Rules (PCR) profile configuration for a specific SIM card
     * @param iccid The ICCID of the SIM card (19-20 digits)
     * @return ApiResponse<GetPCRProfileResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getPCRProfileWithHttpInfo(iccid: kotlin.String) : ApiResponse<GetPCRProfileResponse?> {
        val localVariableConfig = getPCRProfileRequestConfig(iccid = iccid)

        return request<Unit, GetPCRProfileResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getPCRProfile
     *
     * @param iccid The ICCID of the SIM card (19-20 digits)
     * @return RequestConfig
     */
    fun getPCRProfileRequestConfig(iccid: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/sim-pcr-profiles/{iccid}".replace("{"+"iccid"+"}", encodeURIComponent(iccid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /sim-pcr-profiles/{iccid}
     * Modify PCR profile for a SIM card
     * Updates the Policy and Charging Rules (PCR) profile for a specific SIM card including data, voice, SMS, and wallet configurations
     * @param iccid The ICCID of the SIM card (19-20 digits)
     * @param modifyPCRProfileRequest 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun modifyPCRProfile(iccid: kotlin.String, modifyPCRProfileRequest: ModifyPCRProfileRequest) : Unit {
        val localVarResponse = modifyPCRProfileWithHttpInfo(iccid = iccid, modifyPCRProfileRequest = modifyPCRProfileRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /sim-pcr-profiles/{iccid}
     * Modify PCR profile for a SIM card
     * Updates the Policy and Charging Rules (PCR) profile for a specific SIM card including data, voice, SMS, and wallet configurations
     * @param iccid The ICCID of the SIM card (19-20 digits)
     * @param modifyPCRProfileRequest 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun modifyPCRProfileWithHttpInfo(iccid: kotlin.String, modifyPCRProfileRequest: ModifyPCRProfileRequest) : ApiResponse<Unit?> {
        val localVariableConfig = modifyPCRProfileRequestConfig(iccid = iccid, modifyPCRProfileRequest = modifyPCRProfileRequest)

        return request<ModifyPCRProfileRequest, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation modifyPCRProfile
     *
     * @param iccid The ICCID of the SIM card (19-20 digits)
     * @param modifyPCRProfileRequest 
     * @return RequestConfig
     */
    fun modifyPCRProfileRequestConfig(iccid: kotlin.String, modifyPCRProfileRequest: ModifyPCRProfileRequest) : RequestConfig<ModifyPCRProfileRequest> {
        val localVariableBody = modifyPCRProfileRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/sim-pcr-profiles/{iccid}".replace("{"+"iccid"+"}", encodeURIComponent(iccid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
